*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    background: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -211px;
    background-color: #fafafa;
  }
  header {
    padding-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
  }
  header .logo {
    width: 155px;
    height: 30px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero {
    width: 100%;
    margin-bottom: 184px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  main .hero .text {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main .hero .text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333950;
    margin-bottom: 24px;
  }
  main .hero .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #747b95;
    margin-bottom: 24px;
  }
  main .hero .text button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background: #5175ff;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    height: 56px;
    width: 171px;
  }
  main .hero .images {
    width: 171px;
    height: 192px;
    margin-bottom: 64px;
  }
  main .table {
    margin-bottom: -654px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .table .rectangle + .rectangle {
    margin-top: 32px;
  }
  main .table .rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 40px 65px;
  }
  main .table .rectangle .p1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 40px;
  }
  main .table .rectangle h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;
    margin-bottom: 8px;
  }
  main .table .rectangle .p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #333950;
    margin-bottom: 56px;
  }
  main .table .rectangle .p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 32px;
  }
  main .table .rectangle button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #5175ff;
    border-radius: 28px;
    background-color: hsla(228, 100%, 66%, 0.15);
    height: 56px;
    width: 171px;
  }
  main .table .two {
    background-image: url(./assets/home/bg-pattern-pricing.svg);
    background-size: 880px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -380px;
    background-color: #5175ff;
  }
  main .table .two .p1 {
    color: #ffffff;
  }
  main .table .two h2 {
    color: #ffffff;
  }
  main .table .two .p2 {
    color: #ffffff;
  }
  main .table .two .p3,
  main .table .two .p4,
  main .table .two .p5 {
    color: hsla(0, 0%, 100%, 0.75);
  }
  main .table .two button {
    background-color: white;
  }
  footer {
    background-image: url(./assets/home/bg-pattern-footer.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #25293a;
    height: 1248px;
  }
  footer .container {
    padding-top: 894px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .first .p1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #5175ff;
    text-align: center;
  }
  footer .container .first .p1 span {
    color: #ffffff;
  }
  footer .container .first .flex {
    width: 328px;
    height: 128px;
    display: flex;
    align-items: center;
  }
  footer .container .first .flex .box + .box {
    margin-left: 13px;
  }
  footer .container .first .flex .box {
    background: #333950;
    border-radius: 13px;
    width: 72px;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .container .first .flex .box .number {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: white;
  }
  footer .container .first .flex .box .time {
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
  }
  footer .container button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background: #5175ff;
    border-radius: 28px;
    height: 56px;
    width: 171px;
    margin-top: 40px;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (600px <= width <= 899px) {
  body {
    background: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position-x: 156px;
    background-position-y: -419px;
    background-color: #fafafa;
  }
  header {
    padding-top: 72px;
    padding-left: 39px;
    padding-bottom: 104px;
  }
  header .logo {
    width: 155px;
    height: 30px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero {
    width: 100%;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 39px;
  }
  main .hero .text {
    width: 345px;
    height: 352px;
    margin-right: 63px;
  }
  main .hero .text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333950;
    margin-bottom: 24px;
  }
  main .hero .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #747b95;
    margin-bottom: 24px;
    width: 345px;
  }
  main .hero .text button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background: #5175ff;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    height: 56px;
    width: 171px;
  }
  main .hero .images {
    width: 281px;
  }
  main .table {
    margin-bottom: -494px;
    width: 689px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .table .rectangle + .rectangle {
    margin-top: 30px;
  }
  main .table .rectangle {
    width: 689px;
    height: 316px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 40px 65px;
    position: relative;
  }
  main .table .rectangle .p1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 16px;
  }
  main .table .rectangle h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;
    margin-bottom: 8px;
  }
  main .table .rectangle .on-tablet {
    position: absolute;
    right: 68px;
    top: 92px;
  }
  main .table .rectangle .p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #333950;
    margin-bottom: 24px;
  }
  main .table .rectangle .p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 32px;
  }
  main .table .rectangle button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #5175ff;
    border-radius: 28px;
    background-color: hsla(228, 100%, 66%, 0.15);
    height: 56px;
    width: 171px;
  }
  main .table .two {
    background-image: url(./assets/home/bg-pattern-pricing.svg);
    background-size: 880px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -380px;
    background-color: #5175ff;
  }
  main .table .two .p1 {
    color: #ffffff;
  }
  main .table .two h2 {
    color: #ffffff;
  }
  main .table .two .p2 {
    color: #ffffff;
  }
  main .table .two .p3,
  main .table .two .p4,
  main .table .two .p5 {
    color: hsla(0, 0%, 100%, 0.75);
  }
  main .table .two button {
    background-color: white;
  }
  footer {
    background-image: url(./assets/home/bg-pattern-footer.svg);
    background-repeat: no-repeat;
    background-position-x: -702px;
    background-position-y: -620px;
    background-color: #25293a;
    height: 986px;
  }
  footer .container {
    padding-top: 598px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .first .p1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #5175ff;
    text-align: center;
  }
  footer .container .first .p1 span {
    color: #ffffff;
  }
  footer .container .first .flex {
    width: 448px;
    height: 128px;
    display: flex;
    align-items: center;
  }
  footer .container .first .flex .box + .box {
    margin-left: 13px;
  }
  footer .container .first .flex .box {
    background: #333950;
    border-radius: 13px;
    width: 100px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .container .first .flex .box .number {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    color: white;
  }
  footer .container .first .flex .box .time {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
  }
  footer .container button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background: #5175ff;
    border-radius: 28px;
    height: 56px;
    width: 171px;
    margin-top: 48px;
  }
}
/*############ for-tablet-landscape-up #############*/
@media (min-width: 900px) {
  body {
    background: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position-x: 656px;
    background-position-y: -419px;
    background-color: #fafafa;
  }
  header {
    padding-top: 81px;
    padding-left: 165px;
    padding-bottom: 102px;
  }
  header .logo {
    width: 155px;
    height: 30px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero {
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 165px;
  }
  main .hero .text {
    width: 540px;
    height: 388px;
    margin-right: 95px;
  }
  main .hero .text h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;
    margin-bottom: 24px;
  }
  main .hero .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #747b95;
    margin-bottom: 32px;
    width: 540px;
  }
  main .hero .text button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background: #5175ff;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    height: 56px;
    width: 171px;
  }
  main .hero .images {
    width: 475px;
  }
  main .table {
    margin-bottom: -254px;
    width: 1110px;
    height: 508px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .table .rectangle + .rectangle {
    margin-left: 30px;
  }
  main .table .rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 40px 65px;
  }
  main .table .rectangle .p1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 40px;
  }
  main .table .rectangle h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;
    margin-bottom: 8px;
  }
  main .table .rectangle .p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #333950;
    margin-bottom: 56px;
  }
  main .table .rectangle .p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 16px;
  }
  main .table .rectangle .p5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747b95;
    margin-bottom: 32px;
  }
  main .table .rectangle button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #5175ff;
    border-radius: 28px;
    background-color: hsla(228, 100%, 66%, 0.15);
    height: 56px;
    width: 171px;
  }
  main .table .two {
    background-image: url(./assets/home/bg-pattern-pricing.svg);
    background-size: 880px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -380px;
    background-color: #5175ff;
  }
  main .table .two .p1 {
    color: #ffffff;
  }
  main .table .two h2 {
    color: #ffffff;
  }
  main .table .two .p2 {
    color: #ffffff;
  }
  main .table .two .p3,
  main .table .two .p4,
  main .table .two .p5 {
    color: hsla(0, 0%, 100%, 0.75);
  }
  main .table .two button {
    background-color: white;
  }
  footer {
    background-image: url(./assets/home/bg-pattern-footer.svg);
    background-repeat: no-repeat;
    background-position-x: -702px;
    background-position-y: -620px;
    background-color: #25293a;
    height: 603px;
  }
  footer .container {
    padding-top: 336px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .container .first .p1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #5175ff;
  }
  footer .container .first .p1 span {
    color: #ffffff;
  }
  footer .container .first .flex {
    width: 448px;
    height: 128px;
    display: flex;
    align-items: center;
  }
  footer .container .first .flex .box + .box {
    margin-left: 13px;
  }
  footer .container .first .flex .box {
    background: #333950;
    border-radius: 13px;
    width: 100px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .container .first .flex .box .number {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    color: white;
  }
  footer .container .first .flex .box .time {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
  }
  footer .container button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background: #5175ff;
    border-radius: 28px;
    height: 56px;
    width: 171px;
  }
}
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */